<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Spring Boot/Thymeleaf/LightAdmin integration example</title>
</head>
<body>
<p><a href="/admin">Administration</a></p>
<h1>Thymeleaf index page</h1>

<p>
    <em>Simple front-end example using thymeleaf template engine
        (spring boot standard) and spring mvc to pass repository data to page</em>
</p>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>User</th>
        <th>Name</th>
        <th>EMEI</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="h : ${Terminals}">
        <td th:text="${h.id}">id</td>
        <td th:text="${h.user.name}">username</td>
        <td th:text="${h.name}">name</td>
        <td th:text="${h.imei}">imei</td>
    </tr>
    </tbody>
</table>
</body>
</html>
